lib
dist
external
types

node_modules
npm-debug.log
yarn-debug.log
yarn-error.log
tsconfig.tsbuildinfo
package-lock.json
yarn.lock

.eslintcache
.DS_Store
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

*.mdt
coverage
data/logs
data/cache
data/.vector_cache
data/queue.json
data/emojis.json
