lib/
dist/
external/
conversation/

node_modules
npm-debug.log
yarn-debug.log
yarn-error.log
tsconfig.tsbuildinfo
tsconfig.temp.json
package-lock.json
yarn.lock
bun.lock
*.tgz

.turbo
.idea
.vscode

coverage
data/logs
data/cache
data/.vector_cache
data/queue.json
data/emojis.json

__snapshots__

.github/instructions
.github/prompts
.github/copilot-instructions.md
